/* Color-scheme: Light */

body {
    --bg-color: white;
    --fg-color: black;

    --border-color: black;

    --shadow-color-soft: rgba(0, 0, 0, 0.25);
    --shadow-color-hard: rgba(0, 0, 0, 1);

    --bg-color-accent: #black;
    --fg-color-accent: #white;

    --behind-app-color: black;
    --app-ribbon-item-color: white;

    --bg-color-error: #ffb9b9;
    --divider-color: #e0e0e0;

    --bg-accent-color: black;
    --bg-accent-color-soft: rgba(0, 0, 0, 0.25);

    --fg-accent-color: white;
    --fg-accent-color-soft: rgba(255, 255, 255, 0.25);
  }
  
/* Color-scheme: Dark */

body.dark {
  :root {
      --bg-color: black;
      --fg-color: white;

      --border-color: white;

      --shadow-color-soft: rgba(255, 255, 255, 0.25);
      --shadow-color-hard: rgba(255, 255, 255, 1);

      --bg-color-accent: #white;
      --fg-color-accent: #black;

      --behind-app-color: white;
      --app-ribbon-item-color: black;

      --bg-color-error: #b62f2f;
      --divider-color: #424242;

      --bg-accent-color: white;
      --bg-accent-color-soft: rgba(255, 255, 255, 0.25);

      --fg-accent-color: black;
      --fg-accent-color-soft: rgba(0, 0, 0, 0.25);
  }
}